<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<title>Home</title>

	<link rel="shortcut icon" href="/stylesheets/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/stylesheets/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/stylesheets/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/stylesheets/assets/css/main.css">
    <script src="/javascripts/angular.min.js"></script>

    <link rel="stylesheet" href="/scripts/angular-ui-grid/ui-grid.css">
    <script src="/javascripts/angular-route.min.js"></script>
      <script src="/scripts/angular-ui-grid/ui-grid.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
    <script src="/javascripts/angularapp.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" />
        <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/stylesheets/assets/js/html5shiv.js"></script>
	<script src="/stylesheets/assets/js/respond.min.js"></script>