<script type="text/ng-template" id="/home.html">
        <div class="row" ng-app="INFO_MS" ng-controller="MainCtrl">
                <div ng-repeat="project in projects">
                  
   
        <span style="font-size: 20px; margin-left: 10px;">
            <span>{{project.ProjectName}}</span>
            <a  href="#{{post.ProjectName}}">Link
            </a>
           

            <span >{{post.AssignmentNo}}
            </span>
         

        </span>
                </div>

                <form ng-submit="addProject()"
        style="margin-top: 30px;">
        <h3>Add a new Project</h3>
       <div class="form-group">
         <input type="text" placeholder="Project Name" class="form-control" ng-model="ProjectName" required="true" ></input>
  

        </div>
                  <div class="form-group">
         <input type="text"  placeholder="Assignment No" class="form-control" ng-model="AssignmentNo" required="true"></input>
  

        </div>
                  <div class="form-group">
         <input type="text" class="form-control" placeholder="Client Name" ng-model="ClientName" required="true"></input>
  

        </div>
        
        
<button type="submit" class="btn btn-primary">Add</button>
</form>
</div>

    </script>
	<script type="text/ng-template" id="/projectInfo.html">

  <!-- post template -->

  
        <form ng-submit="addProjectInfo()"
        style="margin-top: 30px;">
        <h3>Add a Project Info</h3>
          <div class="form-group">
            <label>Project:</label>
<select name="repeatSelect" id="repeatSelect" ng-model="projId" required="true">
      <option ng-repeat="option in projects" value="{{option._id}}">{{option.ProjectName}}</option>
    </select>
              </div>
           <div class="form-group">
          <label>Type:</label>
           <input type="text"  class="form-control" ng-model="Type" required="true"></input>

        </div>
        <div class="form-group">
          <label>Project Info:</label>
            <textarea class="form-control" ng-model="Information" required="true"></textarea>

        </div>
           <div class="form-group">
              <label>Important Notes:</label>
            <textarea class="form-control" ng-model="ImpNotes"></textarea>

        </div>
         
        
<button type="submit" class="btn btn-primary">Post</button>
</form>


  
</script>




<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Info_Ms</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>


<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Info_Ms</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>